@import "../scss/reset";
// @import '../scss/breakpoints.scss';

.capa img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

aside.info {
    z-index: 1;

    .box-container {
        background-color: #fff;
        border-radius: $border-radius;
        box-shadow: $shadow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -120px;
        padding: 3%;
    }

    .img-text {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            height: 120px;
            width: 120px;
            object-fit: cover;
            border-radius: $border-radius;
            margin-top: 20px;
        }

        h5 {
            color: $h1Color;
            font-size: 1.5rem;
        }

        button {
            background-color: $btnColor;
            border: none;
            border-radius: 0;
            border-radius: $border-radius;
            margin: 5px;
            padding: 10px 50px;
            text-transform: uppercase;
        }
    }

    .wellcome {
        h4 {
            color: $h1Color;
            font-weight: lighter;
        }

        p {
            font-family: $fontFamilyP;
        }

    }

    .social-icons {
        display: flex;
        gap: 10px;

        a {
            width: 35px;
            height: 35px;
            background-color: #0d1a59b2;
            border-radius: $border-radius;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px 0;
            text-decoration: none;
            cursor: pointer;

            i {
                color: #fff;
                font-size: 25px;
            }
        }
    }

    .wellcome {
        margin-top: 20px;
    }

}

main {
    position: relative;

    // ===== NavBAr
    nav.navbar {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        box-shadow: $shadow;
        background-color: #fff !important;
        position: sticky;
        top: 0;
        z-index: 999;

        i {
            border: none;
            font-size: 2rem;
            cursor: pointer;
        }
    }

    a {
        color: $pColor-bar !important;
        font-weight: 500;
    }

    .active {
        color: #ff0000a6 !important;
    }

    // ====final NavBar

    section.about-me .text-infos p {
        font-size: $font-size;
        color: $pColor-bar;
        line-height: 1.6;
        font-family: $fontFamilyP;
        font-weight: 400;
    }

    // ==== final about-me

    .display1 {
        display: flex;
        justify-content: center;
    }

    .skill-box {
        box-shadow: $shadow;
        transition: .3s all ease;
        border-radius: $border-radius;
        overflow: hidden;

        h1 {
            font-size: 1.1rem;
            color: $h1Color;
        }

        p {
            color: $pColor-bar;
            font-size: 1.1rem;
            font-family: $fontFamilyP;

        }

    }

    .skill-box:hover h1 {
        color: #fff;
    }

    .skill-box:hover p {
        color: #fff;
    }

    .card-effect {
        padding: 2rem;
        position: relative;
        z-index: 1;
        transition: all .4s ease;

    }

    .card-effect:hover {
        transform: translateY(5px);
    }

    .card-effect::after {
        content: "";
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: $btnColor;
        opacity: 0;
        transition: all .4s ease;

    }

    .card-effect:hover::after {
        opacity: 1;
        top: 0;
    }

    .skill-icons {
        width: 52px;
        height: 52px;
        background-color: #0d1a59b2;
        border-radius: $border-radius;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;

        i {
            color: #fff;
            font-size: 40px;

        }

    }    
}
// =========================================================
.projetos{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    
    .iconbox{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .4s ease;
        opacity: 0;
    }

    a{
        width: 50px;
        height: 50px;
        background-color: #0d1a59b2;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        z-index: 2;

        i{
            font-size: 1.5rem;
            color: #fff;
        }
    }

}
.projetos::after{
    content: '';
    top: -100%;
    left: 0;
    position: absolute;
    background-color: #0d1a59b2;
    width: 100%;
    height: 100%;
    transition: all .4s ease;

}

.projetos:hover::after{
    top: 0;

}

.projetos:hover .iconbox{
    top: 50%;
    opacity: 1;

}

// Modal
.modal-header h5{
    color: #0d1a59b2;
}

.modal-footer a{
    width: 45px;
    height: 45px;
    background-color: #0d1a59b2;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    z-index: 2;

    i{
        font-size: 1.3rem;
        color: #fff;
    }
}

// Contato
section.contato{
    margin-bottom: 20px;
}
.blue{
    background-color: #0d1a59b2;
    padding: 55px;
    text-align: center;

    h1{
        color: #fff;
        font-size: 1.6rem;
    }
}
address{
    font-family: $fontFamilyP;
}
.contato-icons{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 60px 10px;
    flex-wrap: wrap;

    .email, .phone{
        display: flex;
        flex-direction: column;
        align-items: center;

        i{
            font-size: 2.1rem;
            // color: #fff;
        }
        span{
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}

.socialIncons i{
    font-size: 1.44rem;
    cursor: pointer;
}

.socialMedia{
    display: flex;
    flex-direction: column;
    align-items: center;

    .bx-message-rounded-dots{
        font-size: 2.1rem;
        // color: #fff;
    }
    span{
        font-size: 1.2rem;
        font-weight: bold;
        margin: 5px 0;
    }
}

 .aicons:hover{
    width: 45px;
   height: 45px;
   background-color: #0d1a59b2;
    border-radius: $border-radius;
   display: flex;
   align-items: center;
   justify-content: center;
}



// footer

footer{
    background-color: $btnColor;
    text-align: center;
}




    @media screen and (max-width: 768px) {
        nav.navbar {
            position: fixed !important;
            top: 0;
            left: 0;
            width: 100%;
        }
    }

    @media screen and (max-width: 978px) {
        .mds{
            display: flex;
            flex-direction: column;
        }
        .col-md-6{
            width: 100%;
        }
    }